@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');


nav{
    display: flex;
    justify-content: space-between;
    padding-left: 2vw;
    padding-right: 3vw;
    align-items: center;
    min-height: 64px;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 999999;
}

.linkWrapper{
    display: flex;
    flex-direction: row;
    gap: 7em;
}
.navIcon{
    width: 19px;
    height: 19px;
}

.navIconWrapper{
    display: flex;
    flex-direction: row;
    gap: 12px;
}

a{
    text-decoration: none;
    color: rgb(1, 1, 58);
}

.signUp{
    width: 170px;
    height: 40px;
    background-color: rgb(171, 248, 168);
    border: 1px solid;
    border-color: rgb(48, 192, 48);
    font-size: .9rem;
}

.dropBtn{
    background-color: transparent;
    border: none;
    display: none;
}

.dropdownMenu {
    position: absolute;
    top: 100%; 
    right: 0; 
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    width: 100%;
    z-index: 1; 
  }
  
  .dropdownMenu a {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: black;
  }
  
  .dropdownMenu a:hover {
    background-color: #ddd;
  }
  



@media only screen and (max-width: 1200px){
    .signUp{
        display: none;
    }
}

@media only screen and (max-width: 1050px){
    .linkWrapper{
        display: none;
    }
    .navBurger{
        width: 35px;
    }

    .dropBtn{
        display: block;
    }
}